<a href="https://colab.research.google.com/github/Peeyush2/financeBuddy/blob/renuka_finance/finance_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
url = 'https://raw.githubusercontent.com/Peeyush2/financeBuddy/master/finance_data.csv'
df1 = pd.read_csv(url)

In [4]:
df1

,user_id,name,age,location,family_size,transaction_date,transaction_type,category,amount
0,0,Jaclyn Clark,67,West Lisa,5,04-03-2023,expense,rent,254.771452
1,0,Jaclyn Clark,67,West Lisa,5,01-12-2022,income,travel,368.126619
2,0,Jaclyn Clark,67,West Lisa,5,22-09-2022,income,rent,545.122982
3,0,Jaclyn Clark,67,West Lisa,5,25-06-2023,expense,salary,653.718801
4,0,Jaclyn Clark,67,West Lisa,5,14-09-2022,income,rent,895.249848
...,...,...,...,...,...,...,...,...,...
29608,999,Danielle Cohen,63,Kathleenland,1,21-10-2022,expense,entertainment,151.605640
29609,999,Danielle Cohen,63,Kathleenland,1,01-03-2023,expense,utilities,192.608945
29610,999,Danielle Cohen,63,Kathleenland,1,24-02-2023,income,entertainment,446.717096
29611,999,Danielle Cohen,63,Kathleenland,1,27-09-2022,income,rent,402.568977
29612,999,Danielle Cohen,63,Kathleenland,1,20-08-2023,expense,entertainment,468.503964

In [7]:
#Handling missing values:

missing_values = df1.isnull().sum()
print("Missing Values:")
print(missing_values)

#Observations: We can see that there are no missing values in the data

Missing Values:
user_id             0
name                0
age                 0
location            0
family_size         0
transaction_date    0
transaction_type    0
category            0
amount              0
dtype: int64