<a href="https://colab.research.google.com/github/Peeyush2/financeBuddy/blob/peeyush/finance_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/Peeyush2/financeBuddy/master/finance_data.csv'
df1 = pd.read_csv(url)

In [3]:
df1

,user_id,name,age,location,family_size,transaction_date,transaction_type,category,amount
0,0,Jaclyn Clark,67,West Lisa,5,04-03-2023,expense,rent,254.771452
1,0,Jaclyn Clark,67,West Lisa,5,01-12-2022,income,travel,368.126619
2,0,Jaclyn Clark,67,West Lisa,5,22-09-2022,income,rent,545.122982
3,0,Jaclyn Clark,67,West Lisa,5,25-06-2023,expense,salary,653.718801
4,0,Jaclyn Clark,67,West Lisa,5,14-09-2022,income,rent,895.249848
...,...,...,...,...,...,...,...,...,...
29608,999,Danielle Cohen,63,Kathleenland,1,21-10-2022,expense,entertainment,151.605640
29609,999,Danielle Cohen,63,Kathleenland,1,01-03-2023,expense,utilities,192.608945
29610,999,Danielle Cohen,63,Kathleenland,1,24-02-2023,income,entertainment,446.717096
29611,999,Danielle Cohen,63,Kathleenland,1,27-09-2022,income,rent,402.568977
29612,999,Danielle Cohen,63,Kathleenland,1,20-08-2023,expense,entertainment,468.503964

In [33]:
#date formatting
# no inconsistencies in date
import datetime

dates = df1['transaction_date'].tolist()

allErrorDates = []

for completedDate in dates:
  completeDate = ''
  try:
    completeDate = datetime.datetime.strptime(completedDate, "%d-%m-%Y")
  except:
    completeDate = datetime.datetime.strptime(completeDate).strftime("%d-%m-%Y")
    allErrorDates.append(completeDate)

print(allErrorDates)

[]

In [34]:
#categorize data -> expenses and income
df1_expenses = df1[ df1.transaction_type=='expense' ]
df1_income = df1[ df1.transaction_type=='income' ]
df1_expenses

,user_id,name,age,location,family_size,transaction_date,transaction_type,category,amount
0,0,Jaclyn Clark,67,West Lisa,5,04-03-2023,expense,rent,254.771452
3,0,Jaclyn Clark,67,West Lisa,5,25-06-2023,expense,salary,653.718801
6,0,Jaclyn Clark,67,West Lisa,5,22-03-2023,expense,salary,169.967711
7,0,Jaclyn Clark,67,West Lisa,5,04-08-2023,expense,salary,252.628493
9,0,Jaclyn Clark,67,West Lisa,5,07-01-2023,expense,groceries,327.764526
...,...,...,...,...,...,...,...,...,...
29602,999,Danielle Cohen,63,Kathleenland,1,28-10-2022,expense,rent,906.793685
29603,999,Danielle Cohen,63,Kathleenland,1,05-04-2023,expense,groceries,561.055056
29608,999,Danielle Cohen,63,Kathleenland,1,21-10-2022,expense,entertainment,151.605640
29609,999,Danielle Cohen,63,Kathleenland,1,01-03-2023,expense,utilities,192.608945
29612,999,Danielle Cohen,63,Kathleenland,1,20-08-2023,expense,entertainment,468.503964

In [22]:
df1_income

,user_id,name,age,location,family_size,transaction_date,transaction_type,category,amount
1,0,Jaclyn Clark,67,West Lisa,5,01-12-2022,income,travel,368.126619
2,0,Jaclyn Clark,67,West Lisa,5,22-09-2022,income,rent,545.122982
4,0,Jaclyn Clark,67,West Lisa,5,14-09-2022,income,rent,895.249848
5,0,Jaclyn Clark,67,West Lisa,5,21-10-2022,income,entertainment,71.455668
8,0,Jaclyn Clark,67,West Lisa,5,15-08-2023,income,groceries,816.899400
...,...,...,...,...,...,...,...,...,...
29605,999,Danielle Cohen,63,Kathleenland,1,02-06-2023,income,salary,318.852611
29606,999,Danielle Cohen,63,Kathleenland,1,24-09-2022,income,travel,147.548258
29607,999,Danielle Cohen,63,Kathleenland,1,22-08-2023,income,entertainment,960.694325
29610,999,Danielle Cohen,63,Kathleenland,1,24-02-2023,income,entertainment,446.717096
29611,999,Danielle Cohen,63,Kathleenland,1,27-09-2022,income,rent,402.568977